#app {
  width: 820px;
  height: 520px;
  margin: 0 auto;
  overflow: hidden; }
  #app .search-query-container {
    position: relative;
    background-color: blue;
    padding: 10px 20px; }
    #app .search-query-container .search-query {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      padding: 0 10px; }
  #app .search-filters-container {
    position: relative;
    background-color: red;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 20px;
    width: 30%;
    height: 500px; }
    #app .search-filters-container .search-query {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      padding: 0 10px; }
  #app .search-results-container {
    position: relative;
    background-color: green;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 20px;
    width: 70%;
    height: 500px; }
  #app .search-result {
    background-color: orange;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #app .search-result .search-result-thumbnail {
      width: 80px;
      height: 80px;
      border: 1px solid #979797;
      border-radius: 5px;
      margin-right: 17px; }
    #app .search-result .search-result-details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    #app .search-result .search-result-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px; }
    #app .search-result .search-result-ratings {
      color: #707070;
      font-size: 14px; }
    #app .search-result .search-result-extra-details {
      color: #707070;
      font-size: 14px; }
    #app .search-result:last-of-type {
      margin-bottom: 0; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlcy9hcHAuc2NzcyIsInN0eWxlcy9zZWFyY2hfcXVlcnlfY29udGFpbmVyL19iYXNlLnNjc3MiLCJzdHlsZXMvc2VhcmNoX2ZpbHRlcnNfY29udGFpbmVyL19iYXNlLnNjc3MiLCJzdHlsZXMvc2VhcmNoX3Jlc3VsdHNfY29udGFpbmVyL19iYXNlLnNjc3MiLCJzdHlsZXMvc2VhcmNoX3Jlc3VsdHNfY29udGFpbmVyL3NlYXJjaF9yZXN1bHQvX2Jhc2Uuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLGFBQVk7RUFDWixjQUFhO0VBQ2IsZUFBYztFQUNkLGlCQUFnQixFQUtqQjtFQVREO0lDQ0UsbUJBQWtCO0lBQ2xCLHVCQUFzQjtJQUN0QixtQkFBa0IsRUFPbkI7SURWRDtNQ01JLCtCQUFzQjtjQUF0Qix1QkFBc0I7TUFDdEIsWUFBVztNQUNYLGdCQUFlLEVBQ2hCO0VEVEg7SUVDRSxtQkFBa0I7SUFDbEIsc0JBQXFCO0lBRXJCLCtCQUFzQjtZQUF0Qix1QkFBc0I7SUFDdEIsbUJBQWtCO0lBQ2xCLFdBQVU7SUFDVixjQUFhLEVBT2Q7SUZkRDtNRVVJLCtCQUFzQjtjQUF0Qix1QkFBc0I7TUFDdEIsWUFBVztNQUNYLGdCQUFlLEVBQ2hCO0VGYkg7SUdDRSxtQkFBa0I7SUFDbEIsd0JBQXVCO0lBRXZCLCtCQUFzQjtZQUF0Qix1QkFBc0I7SUFDdEIsbUJBQWtCO0lBQ2xCLFdBQVU7SUFDVixjQUFhLEVBQ2Q7RUhSRDtJSUNFLHlCQUF3QjtJQUN4QixvQkFBbUI7SUFDbkIscUJBQWE7SUFBYixxQkFBYTtJQUFiLGNBQWEsRUFvQ2Q7SUp2Q0Q7TUlNSSxZQUFXO01BQ1gsYUFBWTtNQUNaLDBCQUF5QjtNQUN6QixtQkFBa0I7TUFDbEIsbUJBQWtCLEVBQ25CO0lKWEg7TUljSSxxQkFBYTtNQUFiLHFCQUFhO01BQWIsY0FBYTtNQUNiLDZCQUFzQjtNQUF0Qiw4QkFBc0I7VUFBdEIsMkJBQXNCO2NBQXRCLHVCQUFzQixFQUN2QjtJSmhCSDtNSW1CSSxvQkFBbUI7TUFDbkIsaUJBQWdCO01BQ2hCLHdCQUF1QjtNQUV2QixnQkFBZSxFQUNoQjtJSnhCSDtNSTJCSSxlQUFjO01BQ2QsZ0JBQWUsRUFDaEI7SUo3Qkg7TUlnQ0ksZUFBYztNQUNkLGdCQUFlLEVBQ2hCO0lKbENIO01JcUNJLGlCQUFnQixFQUNqQjs7QUozQkg7RUFDRyw0SEFBMkgsRUFDN0giLCJmaWxlIjoiYXBwLmNzcyJ9 */