.search-filter{

  h4{
    font-family: OpenSans-SemiBold, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #333333;
    margin: 23px 0 12px;
  }

  ul{
    padding: 0;
  }

  @import "search_filter_option";
}
