#app{
  width: 820px;
  height: 520px;
  margin: 42px auto 0;
  overflow: hidden;
  background-color: white;

  border: 1px solid #CCCCCC;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);

  @import "search_query_container/base";
  @import "search_filters_container/base";
  @import "search_results_container/base";
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: white url('../resources/graphics/background.png') repeat;
}

em {
  background-color: red;
}
