.search-results-container {
  position: relative;

  box-sizing: border-box;
  padding: 10px 20px;
  width: 70%;
  height: 500px;

  overflow-y: auto;

  .search-results-details {
    
  }
}

@import "search_result/base"