.search-filters-container {
  position: relative;
  background-color: red;

  box-sizing: border-box;
  padding: 10px 20px;
  min-width: 30%;
  height: 500px;

  ul{
    list-style: none;
    padding: 0;
  }
  @import "search_filter/base";
}